@charset "utf-8";
@import url(reset.css);

.footer{
    width: 100%;
    height: auto;
}
.footer .inner-footer{
    height: 150px;
    width: 100%;
    background-color: black;
}
.footer .inner-footer .fcon{
    color: white;
    display: flex;
    justify-content: center;
    line-height: 100px;
}
.footer .inner-footer .fcon a{
    color: white;
    display: flex;
    justify-content: center;
    line-height: 100px;
    margin-left: 5px;
    text-decoration: underline;
}